{% extends 'base.html' %}

{% block contents %}

<div class='container'>
<form action='/update/{{item.id}}' method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name='name' value="{{item.name}}" type="text" class="form-control" id="name" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="Supplier" class="form-label">Supplier</label>
      <input name='supplier' value="{{item.supplier}}" type="text" class="form-control" id="supplier">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input name='description' value="{{item.description}}" type="text" class="form-control" id="description">
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input name='price' value="{{item.price}}" type="text" class="form-control" id="price">
    </div>
    <div class="mb-3">
          <label for="url" class="form-label">URL of Image</label>
          <input name='url' value="{{item.url}}"" type="text" class="form-control" id="url">
        </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock contents %}